body{background-color: #FFFFCC;}
header{
  display: grid;
  grid-template-columns: 10% auto 20%;
  grid-template-rows: 60%;
  margin-top: -1%;
  margin-left: -1%;
}
/* Menu */
.logoMenu{
  background-color: #4281A4ff;
  padding-right: 10%;
  padding-left: 15%;
  padding-top: 10%;
padding-bottom: 8%;
  border-top-right-radius: 10% 5%;
  border-bottom-right-radius: 80% 80%;
  border-bottom-left-radius: 10% 5%;
}
.imgLogoMenu{
  display: flexbox;
  align-content: center;
  width: 50%;
}


/* Ttile */
.boxTitle{
  align-items: center;
  background-color: #4281A4ff;
  padding-top: 2%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 25%;

  border-bottom-right-radius: 90% 200px;
  border-bottom-left-radius:  80% 200px;
}
.firstTitle{
  font-size: 3em;
  color: #FFFFCC;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}
.secondTitle{
  font-size: 2em;
  color: #FFFFCC;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 3%;
}

