@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');



/* Première Ligne du header*/
.firstLine{
  display: grid;
  grid-template-columns: 10% 12% 1fr 20%;
  padding: 1em;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
  background: #4182A4;
background: -moz-linear-gradient(left, #4182A4 0%, #3DB4D5 53%, #4182A4 100%);
background: -webkit-linear-gradient(left, #4182A4 0%, #3DB4D5 53%, #4182A4 100%);
background: linear-gradient(to right, #4182A4 0%, #3DB4D5 53%, #4182A4 100%);
}

/* Menu */
.logoMenu{
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  align-items: center;  
}
.imgLogoMenu{
  height: 1.8em;
}



/* Title */
.boxTitleAndLogo{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
  border-bottom-left-radius: 70% 200%;
  border-bottom-right-radius: 70% 200%;
  border-top-left-radius: 70% 200%;
  border-top-right-radius: 70% 200%;
}

.boxMiddle{
  margin-top: -1em;
  display: flex;
  grid-column: 2 / 3;
}

.logoTitle{
  height: 7em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.boxTitle{
  margin-top: 2.5em;
  margin-left: -1.8em;
  font-family: 'Martel', serif;
}

.titleOne{
  color: hsl(209, 43%, 90%);
  font-size: 200%;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin-bottom: -0.7em;
}

.titleTwo{
  color: #D9E5F0;
  font-size: 100%;
  font-weight: 100;
  letter-spacing: 0.5rem;
}