@import url(https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap);
.firstLine {
  display: grid;
  grid-template-columns: 10% 12% 1fr 20%;
  padding: 1em;
  margin-top: -1.5em;
  margin-left: -1em;
  margin-right: -1em;
  background: #4182a4;
  background: -moz-linear-gradient(left, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  background: -webkit-linear-gradient(
    left,
    #4182a4 0,
    #3db4d5 53%,
    #4182a4 100%
  );
  background: linear-gradient(to right, #4182a4 0, #3db4d5 53%, #4182a4 100%);
}
.boxTitleAndLogo {
  z-index: 10;
 background: rgb(63,152,185);
background: linear-gradient(90deg, rgba(63,152,185,1) 0%, rgba(61,179,212,1) 50%, rgba(63,152,186,1) 98%);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
}
.boxMiddle {
  margin-top: -1em;
  display: flex;
  grid-column: 2 / 3;
}
.logoTitle {
  height: 7em;
  padding-bottom: 1em;
  padding-top: 2em;
}

.boxTitle {
  margin-top: 2em;
  margin-left: -0.5em;
  font-family: Martel, serif;
}
.titleOne {
  color: #FFFFCC;
  font-size: 200%;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin-bottom: -0.7em;
}
.titleTwo {
  color: #FFFFCC;
  font-size: 100%;
  font-weight: 100;
  letter-spacing: 0.5rem;
}
.nav-toggler {
  position: absolute;
  z-index: 11;
  top: 5vh;
  left: 4%;
  height: 6%;
  width: 5%;
  border: none;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 0 0;
}
span.line {
  position: absolute;
  display: block;
  width: 70%;
  height: 5%;
  background: #FFFFCC;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.l1 {
  transform: translateY(-1.5vh);
}
.l3 {
  transform: translateY(+1.5vh);
}
.nav-toggler.active .l1 {
  transform: translateY(0) rotate(135deg);
}
.nav-toggler.active .l2 {
  opacity: 0;
}
.nav-toggler.active .l3 {
  transform: translateY(0) rotate(-135deg);
}
nav {
  z-index: 12;
  margin-left: -1vw;
  padding: 1em;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   background: #4182a4;
  background: -moz-linear-gradient(left, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  background: -webkit-linear-gradient(
    left,
    #4182a4 0,
    #3db4d5 53%,
    #4182a4 100%
  );
  background: linear-gradient(to right, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  transform: translateY(-150%);
  transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}
nav.active {
  transform: translate(0);
}

nav a {
  z-index: 4;
  color: #FFFFCC;
  font-family: Martel, serif;
  display: block;
  font-size: 160%;
  font-weight: 200;
  margin: 5vh;
  text-decoration: none;
}


