@import url(https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap);
body {
  margin: 0px;
}
.firstLine {
  padding-bottom: 1vh;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 15%;
  background: #4182a4;
  background: -moz-linear-gradient(left, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  background: -webkit-linear-gradient(
    left,
    #4182a4 0,
    #3db4d5 53%,
    #4182a4 100%
  );
  background: linear-gradient(to right, #4182a4 0, #3db4d5 53%, #4182a4 100%);
}
.boxTitleAndLogo {
  margin-left: 1vw;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
}
.boxMiddle {
  margin-top: -1vh;
  display: flex;
  grid-column: 2 / 3;
}
.logoTitle {
  height: 10em;
  padding-top: 2.5vh;
}

.boxTitle {
  margin-top: 3.5vh;
  margin-left: -0.5vw;
  font-family: Martel, serif;
}
.titleOne {
  color: #ffffcc;
  font-size: 270%;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin-bottom: -0.7em;
}
.titleTwo {
  color: rgb(46, 83, 121, 0.5);
  font-size: 100%;
  font-weight: 100;
  letter-spacing: 0.5rem;
}
.menuLogo {
  padding-top: 1.3vh;
  grid-column: 4 / 5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-toggler {
  z-index: 11;
  height: 3vw;
  width: 5vw;
  border: none;
  outline: 0;
  cursor: pointer;
  background: 0 0;
}
span.line {
  position: absolute;
  display: block;
  width: 3vw;
  min-width: 35px;
  height: 3px;
  background: #ffffcc;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.l1 {
  transform: translateY(-15px);
}
.l3 {
  transform: translateY(+15px);
}
.nav-toggler.active .l1 {
  transform: translateY(0) rotate(135deg);
}
.nav-toggler.active .l2 {
  opacity: 0;
}
.nav-toggler.active .l3 {
  transform: translateY(0) rotate(-135deg);
}
nav {
  position: relative;
  z-index: 1;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #4182a4;
  background: -moz-linear-gradient(left, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  background: -webkit-linear-gradient(
    left,
    #4182a4 0,
    #3db4d5 53%,
    #4182a4 100%
  );
  background: linear-gradient(to right, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  transform: translateY(-150%);
  transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}
nav.active {
  transform: translate(0);
}

nav a {
  color: #ffffcc;
  font-family: Martel, serif;
  display: block;
  font-size: 160%;
  font-weight: 200;
  margin: 5vh;
  text-decoration: none;
}
