html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url(https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap);

@media screen {
  header {
    grid-row: 1 / 2;
    z-index: 1;
    position: fixed;
  }

  .firstLine {
    width: 100vw;
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: #4182a4;
    background: -moz-linear-gradient(
      left,
      #4182a4 0,
      #3db4d5 53%,
      #4182a4 100%
    );
    background: -webkit-linear-gradient(
      left,
      #4182a4 0,
      #3db4d5 53%,
      #4182a4 100%
    );
    background: linear-gradient(to right, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  }

  .boxTitleAndLogo {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    margin-left: 1vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
  }

  .boxMiddle {
    margin-top: -1vh;
    display: flex;
    grid-column: 2 / 3;
  }

  .logoTitle {
    height: 45px;
    padding-top: 0.8em;
  }
  .titleOne {
    color: #ffefe2;
    font-size: 140%;
    font-weight: 600;
    letter-spacing: 0.5rem;
    margin-bottom: -0.7em;
    text-shadow: 3px 2px 6px rgba(186, 186, 149, 0.76);
    margin-top: 0.6em;
  }
  .titleTwo {
    color: #ffefe2;
    font-size: 90%;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-shadow: 3px 2px 6px rgba(186, 186, 149, 0.76);
    margin-top: 20px;
  }

  .menuLogo {
    grid-column: 5/6;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-toggler {
    z-index: 4;
    height: 3em;
    width: 2.3em;
    border: none;
    outline: 0;
    cursor: pointer;
    background: 0 0;
  }
  span.line {
    position: absolute;
    display: block;
    width: 19px;
    height: 2px;
    background: #ffefe2;
    box-shadow: 3px 2px 6px rgba(186, 186, 149, 0.76);
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
  }
  .l1 {
    transform: translateY(-10px);
  }
  .l3 {
    transform: translateY(+10px);
  }
  .nav-toggler.active .l1 {
    transform: translateY(0) rotate(135deg);
  }
  .nav-toggler.active .l2 {
    opacity: 0;
  }
  .nav-toggler.active .l3 {
    transform: translateY(0) rotate(-135deg);
  }
  nav {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #4182a4;
    background: -moz-linear-gradient(
      left,
      #4182a4 0,
      #3db4d5 53%,
      #4182a4 100%
    );
    background: -webkit-linear-gradient(
      left,
      #4182a4 0,
      #3db4d5 53%,
      #4182a4 100%
    );
    background: linear-gradient(to right, #4182a4 0, #3db4d5 53%, #4182a4 100%);
    transform: translateY(-200%);
    transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84);
  }
  nav.active {
    transform: translate(0);
  }

  nav a {
    color: #ffffcc;
    font-family: Martel, serif;
    display: block;
    font-size: 110%;
    font-weight: 100;
    margin: 5vh;
    letter-spacing: 2px;
    text-decoration: none;
    opacity: 0.6;
  }
  nav a:hover {
    opacity: 1;
  }
}

@media (max-width: 321px) {
  .logoTitle {
    height: 35px;
    margin-left: -5px;
  }
  .titleOne {
    font-size: 120%;
    letter-spacing: 0.4rem;
  }
  .titleTwo {
    font-size: 70%;
    letter-spacing: 0.4rem;
  }
}

@media (max-width: 450px) {
  .menuLogo {
    margin-left: -45px;
  }
}

@media (min-width: 1250px) {
  .firstLine {
    padding: 1vh;
  }
  .nav-toggler {
    width: 45px;
  }
  span.line {
    width: 35px;
    height: 2px;
  }
  .l1 {
    transform: translateY(-12px);
  }
  .l3 {
    transform: translateY(+12px);
  }
  .logoTitle {
    height: 70px;
    margin-left: -5px;
  }
  .titleOne {
    padding-top: 1vh;
    font-size: 190%;
    letter-spacing: 0.5rem;
  }
  .titleTwo {
    font-size: 100%;
    letter-spacing: 0.5rem;
  }
  nav a {
    font-size: 150%;
  }
}
