@import url(https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap);
body {
  background: #4182a4;
  background: -moz-linear-gradient(left, #4182a4 0, #3db4d5 53%, #4182a4 100%);
  background: -webkit-linear-gradient(
    left,
    #4182a4 0,
    #3db4d5 53%,
    #4182a4 100%
  );
  background: linear-gradient(to right, #4182a4 0, #3db4d5 53%, #4182a4 100%);
}
main {
  position: relative;
  margin-top: 20vh;
}
.effetDeBlur {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  position: relative;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  margin-left: 50%;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  width: 70vw;
}
.zoom1 {
  margin-bottom: 2vh;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  overflow: hidden;
  width: 65vw;
}
.panorama {
  width: 65vw;
  transition: all 4s ease-in-out;
}

.panorama:hover {
  transform: scale(1.1);
}

.textOuverture {
  letter-spacing: 2px;
  color: #ffefe2d1;
  padding-bottom: 2vh;
  font-size: 120%;
  font-weight: 300;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  padding-top: 0.7vh;
  padding-bottom: 3vh;
}

.zoom2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  overflow: hidden;
  transform: translateX(-50%);
  margin-left: 50%;
  width: 40vw;
}

.portail {
  width: 40vw;
  transition: all 4s ease-in-out;
}

.portail:hover {
  transform: scale(1.1);
}
.commentaryDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.imgGoogleMapsLogo {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  grid-column: 2/3;
  width: 16vw;
}
.commentaryTitle {
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 5vw;
  letter-spacing: 0.2vw;
  color: #ffefe2;
  font-size: 180%;
  font-weight: 500;
}
.imgBookingLogo:hover {
  background-color: rgba(186, 186, 149, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
.imgGoogleMapsLogo:hover {
  background-color: rgba(186, 186, 149, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
.imgBookingLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 11vw;
  grid-column: 4/5;
  width: 14vw;
}

.element {
  display: grid;
  grid-template-columns: 30% 45% 15%;
  grid-template-rows: 25vh 5vh;
}

.avis {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  color: #ffefe2d1;
  font-size: 100%;
  font-weight: 200;
}
.rating {
  margin-left: 7vw;
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
}
.alonissos-phots-avis {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-left: 3vw;
}

.PlatformLogo {
  display: flex;
  grid-column: 3/4;
  grid-row: 1/3;
  justify-content: center;
  align-items: center;
}
.bookingLogo {
  width: 15vw;
}
.alonissos-photos-1-avis {
  width: 15vw;
}
